body {
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.bubbles {
    position: relative;
    height: calc(100vh - 60px);
    top: 0;
    overflow: hidden;
    width: 100%;
    transform-style: preserve-3d;
    transform: perspective(900px);
    .bubble {
        width: 60px;
        height: 60px;
        position: absolute;
        background-size: cover !important;
    }
}

#footer {
    font-size: 12px;
    line-height: 18px;
    clear: both;
    background: #4C5160;
    padding: 25px;
    text-align: center;
    margin-top: 0px;
    -webkit-transition: position 0.2s linear;
    -moz-transition: position 0.2s linear;
    transition: position 0.2s linear;
    color: #fff;
    display: table;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 240px;
}

.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
}

.header {
    position: relative;
    z-index: 100;
    background-color: #000;
    //background-image: url(../images/header.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    text-align: center;
    svg {
        margin: 0 auto;
    }
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #4C5160;
    background-image: url(../images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;
    width: 100%;
}

#info {
    -webkit-animation: resize-font 1.5s ease-in;
    -moz-animation: resize-font 5s ease-in;
    -o-animation: resize-font 5s ease-in;
    animation: resize-font 1.5s ease-in;
}

#info {
    color: #C1FE00;
    font-size: 300px;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    z-index: 1000;
    line-height: 90vh;
}

@-webkit-keyframes resize-font {
    0% {
        font-size: 300px;
        opacity: 0.5;
    }
    50% {
        font-size: 500px;
        opacity: 0.75;
    }
    100% {
        font-size: 300px;
        opacity: 1;
    }
}

@-moz-keyframes resize-font {
    0% {
        font-size: 300px;
        opacity: 0.5;
    }
    50% {
        font-size: 500px;
        opacity: 0.75;
    }
    100% {
        font-size: 300px;
        opacity: 1;
    }
}

@-o-keyframes resize-font {
    0% {
        font-size: 300px;
        opacity: 0.5;
    }
    50% {
        font-size: 500px;
        opacity: 0.75;
    }
    100% {
        font-size: 300px;
        opacity: 1;
    }
}

@keyframes resize-font {
    0% {
        font-size: 300px;
        opacity: 0.5;
    }
    50% {
        font-size: 500px;
        opacity: 0.75;
    }
    100% {
        font-size: 300px;
        opacity: 1;
    }
}

.content {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
}